<div class="navbar">
    <div>X</div>
    <!-- <div> -->
        <nav class="links">
            <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/movies" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/tv-series" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/bookmarked" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        </nav>
    <!-- </div> -->
</div>