.video-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    max-width: fit-content;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 14px;
}

.title { 
    font-weight: 400;
}

.bookmark {
    margin-left: auto;
    background-color: beige;
    color: black;
}

.marked {
    background-color: green;
    color: white;
}