<div class="video-container">
    <picture>
        <source srcset="{{video.thumbnail.regular?.large}}" media="(min-width: 768px)">
        <source srcset="{{video.thumbnail.regular?.medium}}" media="(min-width: 576px)">
        <source srcset="{{video.thumbnail.regular?.small}}" media="(min-width: 0)">        
        <img src="{{video.thumbnail.regular?.small}}" alt="{{video.title}}" class="video-thumbnail">
    </picture>
    <ul>
        <li>{{ video.year }}</li>
        <li>&bull;</li>
        <li>
            <img src="{{video.category === 'Movie' ? movieIcon : tvIcon}}" />
            {{ video.category }}</li>
        <li>&bull;</li>
        <li>{{ video.rating }}</li>
    <li class="bookmark">
        <button [ngClass]="{ 'marked': video.isBookmarked }" (click)="onBookmarkClick()">Bookmark</button>
    </li>
    </ul>
    <h3 class="title">{{video.title}}</h3>
</div>